h1 {
  text-align: center
}
h2 {
  text-align: center;
}

body {
    background: rgb(239, 213, 174);
    font-family: system-ui;
    color: rgb(19, 96, 19);
    border-style: solid;
  }

 .GoodStuff p {
  text-align: left;
 }

  p {
    text-align: center;
    padding: 10px;
  }

  img {
    width: 600px;
    height: 350px;
    background-color: blue;
    margin: 0 400px;
    border: gray;
  }

  a {
    text-align: center;
  }

